.search-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .search-bar select {
    margin-bottom: 10px;
    padding: 5px;
  }
  
  .search-bar-container {
    width: 300px; /* Adjust width as needed */
  }
  
  .search-bar-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .search-bar-container input:focus {
    outline: none;
    border-color: #007bff; /* Change focus color as needed */
  }
  
  .search-results {
    margin-top: 10px;
  }
  
  .search-results div {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-top: 5px;
  }
  
  .search-results div h2 {
    margin: 0;
  }
  
  .search-results div p {
    margin: 0;
  }
  